<!DOCTYPE html>
<html>
<head>
    <title>Center List</title>
    <link rel='stylesheet' href='stylesheets/style.css'  />
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 
</head>

<script type="text/javascript">
/*	$("#removeButton").click(function(){
		if(confirm("정말 삭제하시겠습니까?")){
			alert('삭제되었습니다.');
		} else {
			return;
		}
	});*/
/*	function button_event(){
		if(confirm("정말 삭제하시겠습니까?")==true){
			document.form.submit(id);
			app.post('remove/<%=id%>');
		} else {
			return;
		}
	}*/
/*	var utils = require('/routes/dropRegister/utile.js');*/
/*	$('#<%= id%>').click(function(e){
		var drop = confirm("이 데이터를 삭제하시겠습니까?");
		if(drop == true){
			document.form.submit();
			alert('삭제완료!');
		} else {
			alert('취소되었습니다');
		}
	});*/
/*	$(document).ready(function(){
		$('#removeButton').click(function(e){
			var drop = confirm("이 데이터를 삭제하시겠습니까?");
			if(drop == true){
				alert('삭제완료!');
				$('td[i]').remove();
			} else {
				alert('취소되었습니다');
			}
		})
	});
		$.ajax({
			url:'/remove',
			type:'post',
			data:{id:id},
			success:function(data){
			alert(data+'삭제');
			$('#<%= id%>').trigger('click');		
			}
		})*/

</script>

<body>
<aside class="sidebar">
	<div id="welcome">
		<h3>환영합니다!</h3>
		<img src="/stylesheets/profile.jpg" width="100px">
		<input type="button" id="logout" value="로그아웃" onClick="location.href='/register/center'"></input><p>	<!-- 라우팅 처리 안함 -->
		<input type="button" id="mypage" value="마이페이지" onClick="location.href='/register/choice'"></input><p>	<!-- 라우팅 처리 안함 -->
	</div>
</aside>	
<article>

<table border="1">
	<caption><h1>기관 리스트</h1></caption>
    <tr>
        <td>ID</td>
        <td>기관명</td>
        <td>기관이름</td>
        <td>주소</td>
        <td>기관담당자</td>
        <td>이메일</td>
        <td>핸드폰번호</td>
    </tr>

	<% for(var i=0;i<rows.length;i++){
	var id = rows[i].기관ID;
	var pw = rows[i].PASSWORD;
	var centername = rows[i].기관명;
	var name = rows[i].기관이름;
	var addr = rows[i].주소;
	var manager = rows[i].기관담당자; 
	var email = rows[i].이메일;
	var phone = rows[i].핸드폰번호;
	%>
	<tr><td><%= id %></td>
		<td><%= centername %></td>  
		<td><%= name %></td>  
		<td><%= addr %></td>
		<td><%= manager %></td>
		<td><%= email %></td>
		<td><%= phone %></td>
		<td>
			<div id="modify_drop">
			<input type="button" id="modifyButton" value="수정" onClick="location.href='/modify/<%= id%>'">	
			<!-- <input type="button" id="removeButton" value="삭제" onClick="button_event();"> -->
			<input type="button" id="removeButton" value="삭제" onClick="location.href='/remove/<%= id%>'">
			</div>
		</td>	
	</tr>
	<% } %>

</table>

<p>

<div id="button">
	<input type="button" id="register" value="등록 페이지" onClick="location.href='/register'"></input>
	<input type="button" id="dept-register" value="학과 리스트 보기" onClick="location.href='/deptList'"></input>
	<input type="button" id="class-register" value="개설과목 리스트 보기" onClick="location.href='/classList'"></input>
	</input>
</div>
</article>	




</body>

</html>
