<!DOCTYPE html>
<html>
<head>
    <title>Register Class</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<aside class="sidebar">
	<div id="welcome">
		<h3>환영합니다!</h3>
		<img src="/stylesheets/profile.jpg" width="100px">
		<input type="button" id="logout" value="로그아웃" onClick="location.href='/register/center'"></input><p>	<!-- 라우팅 처리 안함 -->
		<input type="button" id="mypage" value="마이페이지" onClick="location.href='/register/choice'"></input><p>	<!-- 라우팅 처리 안함 -->
	</div>
</aside>

<article>
		


	<h1>개설과목 세부정보 입력</h1>
	
	<form  name="form" method="post" action="/register/choice2">

	<script type="text/javascript">
		function(){
			var first = document.getElementById('first_select');
			var second = document.getElementById('second_select');
			/******************************************************/
			var cameras = {
				bolex: 'Bolex Paillard H8',
    			yashica: 'Yashica 30',
    			pathescape: 'Pathescape Super-8 Relax',
    			canon: 'Canon 512'
			};
			/******************************************************/

			addEvent(first,'change',function(){
				if(this.value === ""){
					second.innerHTML = '<option>기관을 먼저 선택하세요</option>';
					return;
				}
				var second_select = getSecondList(this.value);

				var options = '<option>학과를 선택해주세요</option>';
				var key;
				for(key in second_select){
					options += '<option value="'+key+'">'+second_select[key]+'</option>';
				}
				second.innerHTML = options;
			});
			function getSecondList(first_select){
				/********************************/
				if(first_select === 'cameras') {
					return cameras;
				}
				/*********************************/
			}
		}

	</script>	
	
	<select id="first_select" name="first_select">
		<option value="">기관을 먼저 선택하세요</option>
		<% for(var i=0;i<rows3.length;i++){
			var id = rows3[i].기관ID;
			var name = rows3[i].기관이름;
		%>
		<option value="<%=id%>"><%=name%></option>	
		<% } %>
	</select>
	<p>
	<select id="second_select" name="second_select">
		<option value="">기관선택 후 학과를 선택하세요</option>
		<% for(var i=0;i<rows.length;i++){
			var did = rows[i].학과ID;
			var dname = rows[i].학과이름;
		%>
		<option value="<%=did%>"><%=dname%></option>	
		<% } %>
	</select>

	<p><input type="text" name="cid" placeholder="과목ID"></p>
	<p><input type="text" name="ctime" placeholder="과목차수"></p>
	<select name="tid">
		<option value="">강사선택</option>
		<% for(var i=0;i<rows2.length;i++){
		var tid = rows2[i].강사ID;
		var tname = rows2[i].이름;
		%>
		<option value="<%=tid%>"><%=tname%> (<%=tid%>)</option>
		<% } %>
	</select>
	<p><input type="text" name="cnumber" placeholder="개설인원"></p>
	<p><input type="date" name="cstart" placeholder="강의시작일"></p>
	<p><input type="date" name="cend" placeholder="강의종료일"></p>
	<p><input type="text" name="copen" placeholder="현재개설여부"></p>
	<p><input type="text" name="cstatus" placeholder="과목현황"></p>
	<p><input type="text" name="cname" placeholder="과목명"></p>
	<p><input type="text" name="cregist" placeholder="등록여부"></p>
	<p><input type="submit">

	

	</form>
</article>

</body>
</html>	
