<!DOCTYPE html>
<html>
<head>
    <title>Dept List222</title>
    <link rel='stylesheet' href='stylesheets/style.css'  />
</head>
<style type="text/css">
	#button1{
		margin-left:12%;
		margin-top: 5%;
	}
</style>
<body>
<aside class="sidebar">
	<div id="welcome">
		<h3>환영합니다!</h3>
		<img src="/stylesheets/profile.jpg" width="100px">
		<input type="button" id="logout" value="로그아웃" onClick="location.href='/register/center'"></input><p>	<!-- 라우팅 처리 안함 -->
		<input type="button" id="mypage" value="마이페이지" onClick="location.href='/register/choice'"></input><p>	<!-- 라우팅 처리 안함 -->
	</div>
</aside>

<article>
	<div id="title_center"><caption><h1>학과 리스트</h1></caption></div>
	<table border="0" id="dept" cellpadding="3px" style="border-collapse:collapse;" >
		<tr>
			<th>ID</th>
			<th>학과이름</th>
			<th>분야</th>
			<th>학과담당자</th>
			<th>이메일</th>
			<th>핸드폰번호</th>
			<th>기관ID</th>
			<th> </th>
		</tr>

		<% for(var i=0;i<rows.length;i++){
		var did = rows[i].학과ID;
		var dname = rows[i].학과이름;
		var dept = rows[i].분야;
		var dmanager = rows[i].학과담당자;
		var demail = rows[i].이메일;
		var dphone = rows[i].핸드폰번호;
		var id = rows[i].기관ID;
		%>
		<tr><td><%= did %></td>
			<td><%= dname %></td>
			<td><%= dept %></td>
			<td><%= dmanager %></td>
			<td><%= demail %></td>
			<td><%= dphone %></td>
			<td><%= id %></td>
			<td>
			<div id="modify_drop">
			<input type="button" id="modifyButton" value="수정" onClick="location.href='/modifyDept/<%= did%>/<%=id%>'">	
			<input type="button" id="removeButton" value="삭제" onClick="location.href='/removeDept/<%= did%>'">
			</div>
		</td>	
		</tr>
	<% } %>
</table>
<p>
<div id="button_dept">
	<input type="button" id="main" value="홈으로" onClick="location.href='/main'"></input>
	<input type="button" id="dept-register" value="기관 리스트 보기" onClick="location.href='/main1'"></input>
	<input type="button" id="class-register" value="개설과목 리스트 보기" onClick="location.href='/classList'"></input>
</div>
</article>
</body>
</html>	

